.host{
    color: gray;
    background: black;
    font-family: sans-serif;
    font-weight: 200;
    
}

.parasite{
    color: green;
    
    

}

.parasite1{
    color: yellow;
}

.parasite2{
    color: lightblue;
}
.parasite3{
    color: brown;
}
.parasite4{
    color: crimson;
}